$XL: 1980;
$L: 1440;
$M: 1024;
$S: 768;
$XS: 576;


// $col-btn: #2dabfb;
// $col-btn-light: #74c0f0;
$col-btn: #767fcf;

$col-border: #dcdacb;
$col-border-op: #dcdacb88;
$col-shadow: #424242;

$col-grays: #777;

$col-main: #583671;
$col-lesson-main:rgb(61, 52, 52);

$col-modal-bg: #00000056;
// $col-thin: #F4EFFA;
// $col-font: #583671;

$col-active: #CFB986;
$col-active-op: rgba(207, 185, 134, 0.886);

$col-error: #ee4646;

$font: "Ubuntu";
$font-h: "Cambria";



