.pagination{
  display: flex;
  justify-content: center;
  align-items: center;

  .page-link{
    background-color: $col-border;
    margin-right: 10px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 14px;
    
    &:hover{
      background-color: $col-btn;
      color: #ffffff;
    }

    @include media-max($S){
      padding: 2px 8px;
      font-size: 14px;
      margin-right: 8px;
    }
    @include media-max($XS){
      padding: 2px 4px;
      font-size: 13px;
      margin-right: 5px;
    }
  }

  .page-item.active{
    .page-link{
      background-color: $col-btn;
      color: #ffffff;
    }
  }
}