.tabs-container {
    .tab {
        display: none;
        width: 100%;
        &--active {
            display: block;

        }
    }

    .tab-btn {

        &.active {
            background-color: $col-active;
        }
    }

    .tabs-btns {
       margin-bottom: 20px;
    }
}
