.graphs-list{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.graphs-list-item{
  margin-bottom: 20px;
  max-width: 48%;
  width: 100%;
  height: 450px;
  border: 1px solid $col-active;
  position: relative;
  @include media-max($S){
    max-width: 100%;
    margin-bottom: 32px;
  }

  .title{
    position: absolute;
    top: 4px;
    left: 10px;
    z-index: 1;
  }
  .graph-block {
    width: 100%;
    height: 100%;
  }
}
